* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.title {
    text-align: center;
    font-size: 32px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.edit {
    display: inline-block;
    border-bottom: 1px solid #800000;
    outline: none;
}

.rent-container {
    margin: 70px;
    padding-bottom: 45px;
    background-color: #DFD6E7;
}

.rent_id {
    min-width: 450px;
}

.receipt{
    margin:10px;
}

.date {
    margin:10px;
}

.content {
    margin : 40px 10px;
}
.month-content {
    margin : 40px 10px;
}

.owner {
    margin: 10px;
}

.sign {
    text-align: right;
    margin-right: 45px;
    margin-top: 45px;

    & span {
        border-top : 1px solid #800000;
        padding : 0 50px;
    }

}

.download {
    border: none;
    padding: 15px;
    background-color: #DFD6E7;
    cursor: pointer;
    margin: auto;
    display: block;

}